{% extends 'appearance/base.html' %}
{% load i18n %}
{% load beneficiari %}
{% load static %}
{% load common_tags %}
{% load navigation_tags %}

{% block title %}{% include 'appearance/calculate_form_title.html' %}{% endblock %}


{% block content %}
<h1>{{ object }}</h1>
<h2>{{ title }}</h2>
<h3>I campi non compilati non sono mostrati</h3>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-toolbar" role="toolbar">
                <button class="btn btn-xs btn-info" id="btn_select_all">Seleziona tutti</button>
                <button class="btn btn-xs btn-info" id="btn_select_none">Seleziona nessuno</button>
                <button class="btn btn-xs btn-info" id="btn_select_toggle">Inverti selezione</button>
            </div>
        </div>
        <div class="panel-body">
            <form id="selection_form" method="POST" action="{% url "beneficiari:beneficiario_pdf" object.pk %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                    {% for name, field in not_blank.items %}
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="cbx_{{ name }}">
                                <input id="cbx_{{ name }}" type="checkbox" name="fields" value="{{ name }}" checked="checked" {% if name in always_print %}disabled="disabled"{% endif %}>
                                {{ field.label }}
                            </label>
                        </div>
                    </div>
                    {% if forloop.counter == col_break %}
                    </div>
                    <div class="col-md-6">
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="cbx_include_diario">
                                        <input id="cbx_include_diario" type="checkbox" name="include_diario" value="1" checked="">
                                        Includi pagine di diario
                                    </label>
                                </div>
                            </div>
                        </div>
                </div>
                <button type="submit" class="btn btn-primary">Genera PDF</button>&nbsp;
                <a href="{% url "beneficiari:beneficiario_detail" object.pk %}" class="btn btn-default">Annulla</a>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#btn_select_toggle').click(function(){
            $('#selection_form :checkbox').each(function(_, cb){
                if(!cb.disabled)
                    cb.checked = !cb.checked;
            });
        });
        $('#btn_select_none').click(function(){
            $('#selection_form :checkbox').each(function(_, cb){
                if(!cb.disabled)
                    cb.checked = false;
            });
        });
        $('#btn_select_all').click(function(){
            $('#selection_form :checkbox').each(function(_, cb){
                if(!cb.disabled)
                    cb.checked = true;
            });
        });
    });
</script>
{% endblock content %}
