{% extends 'appearance/base.html' %}
{% load i18n %}
{% load static %}
{% load common_tags %}
{% load navigation_tags %}

{% block title %}{% include 'appearance/calculate_form_title.html' %}{% endblock %}


{% block title_right %}
{% include 'rifugiati_commons/tag_filter.html' %}
{% endblock %}

{% block content %}
<h1>{{ object }}</h1>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">{% trans "Dettagli" %}</a></li>
    <li role="presentation"><a href="#documenti" aria-controls="documenti" role="tab" data-toggle="tab">{% trans 'Documenti' %}</a></li>
    <li role="presentation"><a href="#diari" aria-controls="diari" role="tab" data-toggle="tab">{% trans 'Diario' %}</a></li>
  </ul>

   <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="main">
        {% if form %}
            {% with '' as title %}
                {% include "appearance/generic_form_subtemplate.html" %}
            {% endwith %}
        {% endif %}

        <div class="row">
            {% for subtemplate in subtemplates_list %}
                {% if subtemplate.column_class %}
                    <div class="{{ subtemplate.column_class }}">
                {% else %}
                    <div class="col-xs-12">
                {% endif %}
                    {% render_subtemplate subtemplate.name subtemplate.context as rendered_subtemplate %}
                    {{ rendered_subtemplate }}
                </div>
            {% endfor %}
        </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="documenti">
        <h2>{% trans 'Documenti per beneficiario' %} {{ object }}</h2>
        {% with document_list as object_list %}
        {% include 'rifugiati_commons/tags_filter_generic_list_subtemplate.html' %}
        {% endwith %}
        </div>
        <div role="tabpanel" class="tab-pane" id="diari">
            {% comment %} <h2>{% trans 'Diari per beneficiario' %} {{ object }}</h2> {% endcomment %}
            {% with diari_list as object_list %}
            <div class="row">
                <div class="col-xs-12">
                <h4 class="clearfix">{% trans "Totale" %}: {{ diari_list.count }}<span class="pull-right">{% include "beneficiari/diari_tag_filter.html" %}</span></h4>
                </div>
            </div>
            {% endwith %}
            <div class="well">
                <div id="diari_message"></div>
                <form id="diari_form" name="{{ diari_form.prefix }}" method="{{ submit_method|default:'post' }}" action="{% url "beneficiari:beneficiario_diario_add" object.pk %}">
                    {% csrf_token %}
                    {% with diari_form as form %}
                    {% include 'appearance/generic_form_instance.html' %}
                    {% endwith %}
                    <div class="form-group">
                        <button class="btn btn-primary" name="{% if form.prefix %}{{ form.prefix }}-submit{% else %}submit{% endif %}" type="submit"><i class="{{ submit_icon|default:'fa fa-check' }}"></i>Inserisci pagina di diario</button>
                    </div>
                </form>

                <script type="text/javascript">
                    // Submit post on submit
                    $('#diari_form').on('submit', function(event){
                        event.preventDefault();
                        tinyMCE.triggerSave();
                        var frm = $(this);
                        $.ajax({
                            type: frm.attr('method'),
                            url: frm.attr('action'),
                            data: frm.serialize(),
                            success: function (data) {
                                if ( !data['result']) {
                                    $("#diari_message").prepend('<div class="alert alert-danger alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Errore nell\'inserimento del diario: ' + data['error'] + '</div>');
                                } else {
                                    $("#diari_message").prepend('<div class="alert alert-success alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Diario inserito con successo</div>');
                                    $("#diari_list").prepend(data['diario']);
                                }
                            },
                            error: function(data) {
                                $("#diari_message").html('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Errore nell\'inserimento del diario</div>');
                            }
                        });
                    });

                    // Filter diari tags
                    $('#diari_tag').change(function(){
                        var tag_id = ($(this).val());
                        if (! tag_id)
                        {
                            $('.panel-tag').show();
                        }
                        else
                        {
                            var tag_class = "tag-" + tag_id;
                            $('.panel-tag').hide();
                            $('.panel-tag.' + tag_class).show();
                        }
                    });
                </script>
            </div>
            <div id="diari_list">
                {% for object in diari_list  %}
                {% include 'beneficiari/diario_row.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
