{% load beneficiari %}
    <div class="panel panel-tag panel-info {% for tag in object.tags.all %}tag-{{ tag.pk }} {% endfor %}">
        <div class="panel-heading">
           Creato il {{ object.created }} da {{ object.utente }} {{ object|diario_tags }}<form style="display: inline-block" class="form-inline pull-right" method="GET" action="{% url "beneficiari:beneficiario_diario_delete" object.beneficiario.pk object.pk  %}"><button class="btn btn-danger btn-xs">Elimina</button></form><form style="display: inline-block; padding-right: 1em" class="form-inline pull-right" method="GET" action="{% url "beneficiari:beneficiario_diario_edit" object.beneficiario.pk object.pk  %}"><button class="btn btn-default btn-xs">Modifica</button></form>
        </div>
        <div class="panel-body">
            {{ object.testo|safe }}
        </div>
    </div>
