{% load  i18n %}
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="diari_tag">{% trans "Tag" %}</label>&nbsp;
            <select id="diari_tag" name="tag">
                <option value="">{% trans "-- Mostra tutte --" %}</option>
                {% for tag in diari_tags  %}
                <option value="{{ tag.pk }}"{% if tag == filtered_tag %} selected="selected"{% endif %}>{{ tag }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
