{% load i18n %}
{% load static %}
{% load common_tags %}
{% load rifugiati_commons %}
{% load beneficiari %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% include 'appearance/calculate_form_title.html' %}</title>
    <style>
        * {
            font-family: "Arial", "Tahoma", sans-serif;
        }

        .label {
            font-weight: bold;
            color: #555;
            font-size: 130%;
        }

        div.name {
            /*border-bottom: solid 2px #AAA;*/
            margin-top: 5mm;
        }

        .value {
            font-weight: normal;
            font-size: 100%;
        }

    </style>
</head>
<body>
    <h1>{% block title %}{% include 'appearance/calculate_form_title.html' %}{% endblock %}</h1>
    {% for field in form %}
    {% if field.name in show_fields %}
    {% if not field.name in skip_fields %}
        {% if not field.name in expanded_fields %}
            <div class="name"><span class="label">{{ field.label }}: </span><span class="value">
            {% if not field.value %}
            &mdash;
            {% else %}
                {% if field.name in document_fields %}
                {% document field.value %}
                {% else %}
                    {% if field.name == 'entry_date' or field.name == 'exit_date' or field.name == 'birthday' %}
                        {{ field.value|date:"D d M Y" }}
                    {% else %}
                        {% if field.name == 'country' and field.value %}
                        {{ object.country.name }}
                        {% else %}
                            {% if field.name == 'photo' and field.value %}
                            <img src="{{ field.value.url|resize:'240x320' }}" />
                            {% else %}
                                {% if not field.value %}&nbsp;{% else %}
                                    {% if field.name == 'apartment' %}
                                        {{ object.apartment.address }}
                                    {%else %}
                                        {% if field.name == 'equipe' %}
                                            {{ object.equipe }}
                                        {%else %}
                                            {{ field.value|safe }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            </span></div>
        {% else %}
        {% if not no_headers %}
            <div class="name label">
            {{ field.label }}
            </div>
        {% endif %}
        <div class="value">
        {% if not field.value %}
            &mdash;
        {% else %}
            {% if field.name in document_fields %}
                {% document field.value %}
            {% else %}
                {% if field.name == 'country' and field.value %}
                    {{ object.country.name }}
                {% else %}
                    {% if field.name == 'photo' and field.value %}
                    <img src="{{ field.value.url|resize:'240x320' }}" />
                    {% else %}
                        {% if not field.value %}&nbsp;{% else %}
                            {% if field.name == 'apartment' %}
                                {{ object.apartment.address }}
                            {%else %}
                                {% if field.name == 'equipe' %}
                                    {{ object.equipe }}
                                {%else %}
                                    {{ field.value|safe }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
        {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if include_diario %}
    {% for diario in diari %}
    <h5>Diario inserito da {{ diario.utente }} il {{ diario.created }}</h5>
    <div>{{ diario.testo|safe }}</div>
    {% endfor %}
    {% endif %}
</body>
</html>

