{% load  i18n %}
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="tag">{% trans "Tag" %}</label>&nbsp;
            <select id="tag" name="tag" onchange="this.form.submit()">
                <option value="">{% trans "-- Mostra tutte --" %}</option> 
                {% for tag in tags  %}
                <option value="{{ tag }}"{% if tag == filtered_tag %} selected="selected"{% endif %}>{{ tag }}</option>        
                {% endfor %}
            </select>
        </div>
    </form>
