div[disabled="disabled"] {
    background-color: #f0f0f0;
    padding: 1em;
    border: 2px solid #dce4ec;
    border-radius: 4px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f0f0f0;
    opacity: 1;
}


@media (max-width: 1200px) {
    .navbar-nav > li > a > .link-label {
      display: none;
    }
}

/* on mobile browsers, I set a width of 100% */
table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}

/* on large screens, I use a different layout, so 600px are sufficient
@media only screen and (min-width: 600px) {
    table.mceLayout, textarea.richEditor {
       width: 600px !important;
    }
}
*/

.form-group.has-error label {
    color: red;
}

.diario-tag-container {
    display: inline-block;
}