{% load i18n %}

{% load common_tags %}
{% load navigation_tags %}
    
                {% if links or form_navigation_links %}
                    <!--div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"-->
                    <div class="col-xs-12 col-sm-2">
                    {% endif %}

                    {% if links %}
                        <div class="pull-right btn-group" style="margin-bottom: 10px;">
                            <button aria-expanded="true" type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                                {% trans 'Actions' %}
                                <span class="caret"></span>
                                <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% for links_set in links %}
                                    {% for entry in links_set %}
                                        <li><a class="btn-sm" href="{{ entry.url }}">{{ entry.text }}</a></li>
                                    {% endfor %}

                                    {% if not forloop.last and links_set %}
                                        <li class="divider"></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                         <div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
                    {% endif %}

                    {% if form_navigation_links %}
                        <div class="pull-right list-group">
                            {% if form_navigation_links %}
                                {% for object_navigation_links in form_navigation_links %}
                                    {% with 'true' as hide_active_anchor %}
                                    {% with 'active' as link_class_active %}
                                    {% with 'list-group-item btn-sm' as link_classes %}
                                        {% include 'navigation/generic_navigation.html' %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if links or form_navigation_links %}
                        </div>
                    {% endif %}