{% extends 'appearance/base.html' %}
{% load i18n %}
{% load static %}
{% load common_tags %}
{% load navigation_tags %}

{% block title %}{% include 'appearance/calculate_form_title.html' %}{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">{% trans "Dettagli" %}</a></li>
    <li role="presentation"><a href="#beneficiari" aria-controls="beneficiari" role="tab" data-toggle="tab">{% trans 'Beneficiari' %}</a></li>
    <li role="presentation"><a href="#documenti" aria-controls="documenti" role="tab" data-toggle="tab">{% trans 'Documenti' %}</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="main">
      {% if form %}
          {% with '' as title %}
              {% include "appearance/generic_form_subtemplate.html" %}
          {% endwith %}
      {% endif %}

      <div class="row">
          {% for subtemplate in subtemplates_list %}
              {% if subtemplate.column_class %}
                  <div class="{{ subtemplate.column_class }}">
              {% else %}
                  <div class="col-xs-12">
              {% endif %}
                  {% render_subtemplate subtemplate.name subtemplate.context as rendered_subtemplate %}
                  {{ rendered_subtemplate }}
              </div>
          {% endfor %}
      </div>        
    </div>    
    <div role="tabpanel" class="tab-pane" id="beneficiari">
      <h2>{% trans 'Beneficiari in progetto per equipe' %} {{ object }}</h2>
      <ul>
        {% for beneficiario in beneficiari_in_project  %}
        <li><a href="{% url "beneficiari:beneficiario_detail" beneficiario.pk %}">{{ beneficiario.metadata_value }}</a></li>
        {% empty %}
        <li>{% trans 'Non ci sono beneficiari attivi in questo appartamento.' %}</li>
        {% endfor %}        
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="documenti">
      <h2>{% trans 'Documenti per equipe' %} {{ object }}</h2>
      {% with document_list as object_list %}
        {% include 'rifugiati_commons/tags_filter_generic_list_subtemplate.html' %}
      {% endwith %}
    </div>
  </div>
</div>

{% endblock content %}
