{% load i18n %}
{% load static %}

{% load compress %}

{% load common_tags %}
{% load navigation_tags %}

{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
        <title>
            {% block base_title %}
                {% block title %}{% endblock %} :: {% block project_name %}{% project_name %}{% endblock %}
            {% endblock base_title %}
        </title>

        {% comment %} Moved to head {% endcomment %}
        <script type="text/javascript" src="{% static 'appearance/packages/jquery-2.1.4.min.js' %}"></script>
        
        {% compress css %}
            <link href="{% static 'appearance/packages/font-awesome-4.7.0/css/font-awesome.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
            {# Disable base Bootstrap CSS, Flatly seems to include it already #}
            {#<link href="{% static 'appearance/packages/bootstrap-3.3.4-dist/css/bootstrap.min.css' %}" media="screen" rel="stylesheet" type="text/css"  />#}
            <link href="{% static 'appearance/packages/bootswatch.com/flatly/bootstrap.css' %}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{% static 'appearance/packages/animate/animate.css' %}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{% static 'appearance/packages/fancyBox-master/source/jquery.fancybox.css' %}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{% static 'appearance/packages/select2-4.0.3/dist/css/select2.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{% static 'appearance/css/base.css' %}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{% static 'rifugiati_commons/css/custom.css' %}" media="screen" rel="stylesheet" type="text/css" />
            {% block stylesheets %}{% endblock %}

        {% endcompress %}
        <script>
            function waitForJQuery(func) {
                if (window.jQuery) {
                    func();
                } else {
                    setTimeout(function() {
                        waitForJQuery(func)
                    }, 50);
                }
            }         
            
        </script>
    </head>
    <body>
        {% if appearance_type == 'plain' %}
            {% block content_plain %}{% endblock %}
        {% else %}
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {# TODO: don't use hardcoded main:home use settings.LOGIN_REDIRECT_URL #}
                        <a class="navbar-brand" href="{% url 'common:home' %}">{% project_name %}{% if debug %} <i class="fa fa-bug"></i>{% endif %}</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% get_menu_links 'main menu' as menu_links %}
                            {% for link_set in menu_links %}
                                {% for link in link_set %}
                                    {% with 'true' as as_li %}
                                    {% with 'true' as hide_active_anchor %}
                                    {% with 'active' as li_class_active %}
                                    {% with 'first' as li_class_first %}
                                    {% with ' ' as link_classes %}
                                        {% include 'navigation/generic_subnavigation.html' %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    {#% trans 'Profile' %#} <i class="fa fa-user-circle-o"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="text-center" style="padding-left: 10px; padding-right: 20px;">
                                        {% if not request.user.is_authenticated %}
                                            {% trans 'Anonymous' %}
                                        {% else %}
                                            {{ request.user.get_full_name|default:request.user }}
                                        {% endif %}
                                    </li>
                                    <li role="separator" class="divider"></li>

                                    {% get_menu_links 'user menu' as menu_links %}
                                    {% for link_set in menu_links %}
                                        {% for link in link_set %}
                                            {% with 'true' as as_li %}
                                            {% with 'true' as hide_active_anchor %}
                                            {% with 'first' as li_class_first %}
                                            {% with ' ' as link_classes %}
                                                {% include 'navigation/generic_subnavigation.html' %}
                                            {% endwith %}
                                            {% endwith %}
                                            {% endwith %}
                                            {% endwith %}
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container main-container">
                <div class="row">
                    <div class="col-xs-12">
                        {% for message in messages %}
                            <div class="animated fadeInDown alert alert-dismissible alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                                <button type="button" class="close">×</button>
                                <h4>{% if 'success' in message.tags %}{% trans 'Success' %}{% elif 'info' in message.tags %}{% trans 'Information' %}{% elif 'warning' in message.tags %}{% trans 'Warning' %}{% else %}{% trans 'Error' %}{% endif %}</h4>
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}

                        {% block messages %}{% endblock %}
                    </div>
                </div>

                {% get_menus_links names='object menu,sidebar menu,secondary menu' as links %}
                {% get_menu_links 'object facet' as form_navigation_links %}

                <div class="row">
                    <div class="visible-xs-block">
                    {% include 'navigation/navigation_links.html' %}
                    </div>
                    {% if links or form_navigation_links %}
                        <!--div class="col-xs-8 col-sm-8 col-md-10 col-lg-10"-->
                        <div class="col-xs-12 col-sm-10">
                    {% else %}
                        <div class="col-xs-12">
                    {% endif %}
                        {% block content %}{% endblock %}
                        {% block footer %}{% endblock %}
                    </div>

                    <div class="hidden-xs">
                    {% include 'navigation/navigation_links.html' %}
                    </div>

                </div>
            </div>
        {% endif %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% compress js %}
        <script type="text/javascript" src="{% static 'appearance/packages/bootstrap-3.3.4-dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/jquery.scrollview.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/jquery_lazyload-master/jquery.lazyload.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/fancyBox-master/source/jquery.fancybox.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/fancyBox-master/lib/jquery.mousewheel.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/packages/select2-4.0.3/dist/js/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'appearance/js/base.js' %}"></script>
        {% endcompress %}
        {% block javascript %}
        <script type="text/javascript">
            {% comment %} Adapt navbar height {% endcomment %}
            $(function(){
                $('.main-container').css('padding-top', $('.navbar-fixed-top').height() - 40 );
            });
            // Javascript to enable link to tab
            var hash = document.location.hash;
            var prefix = "tab_";
            if (hash) {
                $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
            } 

            // Change hash for page-reload
            $('.nav-tabs a').on('shown.bs.tab', function (e) {
                window.location.hash = e.target.hash.replace("#", "#" + prefix);
            });
            
        </script>
        {% endblock %}
    </body>
</html>
{% endspaceless %}
